<% if @routine == nil %>
  <div class="row top" id="header-region"><h1>No routines, click "Add New" to create one.</h1></div>
<% else %>
  <div class="row top" id="header-region">
    <div class="large 16 column menu">
      <h1><%= @routine.name %>
        <%= link_to edit_routine_path(@routine), id: "edit-routine",'data-reveal-id' => "edit-routine-modal", remote: true do %>
          <i class="icon-cog"></i>
        <% end %>
        <%= link_to @routine, id:"delete-routine", method: :delete, data: {confirm: "Are you sure you want to delete this routine?"}, remote: true do %>
          <i class="icon-remove"></i>
        <% end %>
      </h1>
      <ul class="group">
        <!-- <li><a href="#" class="day">Day</a></li> -->
        <li><a href="/exercises" class="add">Add</a></li>
        <li><%= link_to "Start", start_path(@routine), :class => "start" %><!-- <a href="#" class="start">Start</a> --></li>
      </ul>
    </div>
  </div>
  <div id="exercise-region">
    <% @exercises.each do |e| %>
      <div class="row exercise">
        <div class="cover-image"></div>
        <div class="reps"><span>Reps</span><h1><%= e.reps %></h1></div>
        <div class="sets"><span>Sets</span><h1><%= e.sets %></h1></div>
        <h2><%= e.name %></h2>
        <p>For a big chest, the best things you can do are heavy compound (multi-joint) movements. No matter if you're hitting a flat bench or an incline bench with dumbbells, you have to put extreme stress on the muscle fibers to make them grow.</p>
        <%= link_to edit_exercise_routine_path(@routine), id: "edit-routine",'data-reveal-id' => "edit-exerciseroutine-modal", remote: true do %>
          <i class="icon-cog"></i>
        <% end %>
        <a href="#">Delete</a>
      </div>
    <% end %>
  </div>
<% end %>
